<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <context-param>
    <param-name>globalData1</param-name>
    <param-value>123</param-value>
  </context-param>
  <context-param>
    <param-name>globalData2</param-name>
    <param-value>456</param-value>
  </context-param>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.yk.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/hello/world</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPostServlet</servlet-name>
    <servlet-class>com.yk.GetPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPostServlet</servlet-name>
    <url-pattern>/GetPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConfigServlet</servlet-name>
    <servlet-class>com.yk.ConfigServlet</servlet-class>
    <init-param>
      <param-name>data1</param-name>
      <param-value>value1</param-value>
    </init-param>
    <init-param>
      <param-name>data2</param-name>
      <param-value>value2</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>



  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigServlet</servlet-name>
    <url-pattern>/config</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContextServlet</servlet-name>
    <servlet-class>com.yk.ContextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextServlet</servlet-name>
    <url-pattern>/context</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.yk.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForwardServlet</servlet-name>
    <servlet-class>com.yk.ForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardServlet</servlet-name>
    <url-pattern>/forward</url-pattern>
  </servlet-mapping>
  <filter>

    <filter-name>TestFilter</filter-name>
    <filter-class>com.yk.TestFilter</filter-class>
    <init-param>
      <param-name>filterParam</param-name>
      <param-value>666</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>TestFilter</filter-name>
    <url-pattern>/hello/world/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ForwardExampleServlet</servlet-name>
    <servlet-class>com.yk.ForwardExampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardExampleServlet</servlet-name>
    <url-pattern>/forwardExample</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConcurrentServlet</servlet-name>
    <servlet-class>com.yk.ConcurrentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConcurrentServlet</servlet-name>
    <url-pattern>/concurrent</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>/welcome.html</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>2</session-timeout>
  </session-config>
  <listener>
    <listener-class>com.yk.TestListener</listener-class>
  </listener>
</web-app>
       
